
<div class="container mx-2">
  <h1>Stupid coaching</h1>
  <div class="container mx-2 my-4 t-border">
    <p><%= @question%></p>
    <p>You</p>
  </div>
  <div class="container mx-2 bg-warning t-border">
    <p><%= @answer%></p>
    <p>Your coach</p>
  </div>
</div>
